.doto-title {
  font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings:
    "ROND" 0;
}
body {
    margin: 0 2vw;
    background-color: rgb(213, 213, 250);
    font-size: 1rem;
}
h1{
    font-size: 2.5rem;
    font-family: 'Doto';
    color: green;
    text-align: center;
}
h2 {
    font-size: 1.75rem;
    font-family: 'Doto';
    color: mediumvioletred;
    /*color: rgb(33, 197, 33);*/
    text-align: center;
}
h4 {
    font-size: 1rem;
    font-family: 'Doto';
    color: rgb(88, 10, 160);
    /* color: rgb(14, 196, 14);
    color: rgb(30, 173, 30);
    /*color: rgb(33, 197, 33);*/
    text-align: center;
}
p{
    font-family: monospace;
    color: rgb(88, 10, 160);
    text-align: justify;
    padding-left: 15%;
    padding-right: 15%;
}
hr {
    border: 0;
    /* border-top: 1px solid blueviolet;*/
    border-top: 1px solid rgb(88, 10, 160);
    margin: 20px 0;
    border-style: dotted;
    }
a:link {
    /* color: darkslateblue; */
    color: rgb(88, 10, 160);
    text-decoration: underline; 
}
a:hover {
    background-color: rgb(255, 198, 244);
    text-decoration: underline;
}

img.fullwidth {
    max-width: 100%;
    height: auto;
    display: flex;
    margin: 20px auto;
}
img.small {
    max-width: 100%;
    max-height: 70vh;
    height: auto;
    display: flex;
    margin: 20px auto;
    }