.doto-title {
  font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings:
    "ROND" 0;
}
body {
    margin: 0 0/*2vw*/;
    background-color: rgb(213, 213, 250);
    /* background: linear-gradient(
       to right,
       rgb(88, 10, 160) 0%, 
       rgb(88, 10, 160) 5%,
       rgb(213, 213, 250) 13%, 
       rgb(213, 213, 250) 50%,
       rgb(213, 213, 250) 87%,
       rgb(88, 10, 160) 95%,
       rgb(88, 10, 160) 100%
    );*/
    font-size: 1rem;
}
header{
    /*background-color: rgb(88, 10, 160);*/
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-top: 0px;
    padding-bottom: 2%;
    background-image: linear-gradient(
        to top,
        rgb(213, 213, 250) 5%,
        rgb(88, 10, 160) 30%,
        rgb(88, 10, 160) 65%
    );
}
h1{
    font-size: 2.5rem;
    margin-bottom: -1px;
    margin-top: 0;
    padding-top: 2%;
    padding-bottom: 1%;
    font-family: 'Doto';
    color: rgb(213, 213, 250);
    text-align: center;
    text-shadow: 0px 0px 30px;
}
h2 {
    font-size: 1.75rem;
    font-family: 'Doto';
    color: mediumvioletred;
    /*color: rgb(33, 197, 33);*/
    text-align: center;
    margin-top: 0;
    padding-top: 2%;
    text-shadow: 0px 0px 40px;
}
h4 {
    background-color: rgb(88, 10, 160);
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 1rem;
    font-family: 'Doto';
    color: rgb(213, 213, 250);
    /* color: rgb(14, 196, 14);
    color: rgb(30, 173, 30);
    /*color: rgb(33, 197, 33);*/
    text-align: center;
}
h4.top {
    background-image: linear-gradient(
        to bottom,
        rgb(88, 10, 160) 0%,
        rgb(88, 10, 160) 2%,
        rgb(88, 10, 160) 30%,
        rgb(88, 10, 160) 50%,
        rgb(88, 10, 160) 70%,
        rgb(213, 213, 250) 98%,
        rgb(213, 213, 250) 100%
    );
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 1rem;
    font-family: 'Doto';
    color: rgb(213, 213, 250);
    /* color: rgb(14, 196, 14);
    color: rgb(30, 173, 30);
    /*color: rgb(33, 197, 33);*/
    text-align: center;
}
h4.bottom {
    background-image: linear-gradient(
        to bottom,
        rgb(213, 213, 250) 0%,
        rgb(213, 213, 250) 2%,
        rgb(88, 10, 160) 30%,
        rgb(88, 10, 160) 50%,
        rgb(88, 10, 160) 70%,
        rgb(88, 10, 160) 98%,
        rgb(88, 10, 160) 100%
    );
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 1rem;
    font-family: 'Doto';
    color: rgb(213, 213, 250);
    /* color: rgb(14, 196, 14);
    color: rgb(30, 173, 30);
    /*color: rgb(33, 197, 33);*/
    text-align: center;
    position:flex;
    width: 100%;
    bottom: 0;
}
p{
    font-family: monospace;
    color: rgb(88, 10, 160);
    text-align: justify;
    padding-left: 20%;
    padding-right: 20%;
}
hr {
    border: 0;
    /* border-top: 1px solid blueviolet;*/
    border-top: 0.25px linear-gradient(

    );
    margin: 0 0;
    border-style:solid;
    }
hr.faded-light {
    border: none;               /* Rimuove la linea di default */
    height: 0.5px;                /* Spessore della linea */
    background: linear-gradient(
      to right,
      transparent,
      rgb(213, 213, 250),   /* colore centrale – puoi cambiarlo */
      transparent
    );
    margin: 0 0;       
}      
hr.faded-dark {
    border: none;               
    height: 0.5px;                /* Spessore della linea */
    background: linear-gradient(
      to right,
      transparent,
      rgb(88,10,160),   /* colore centrale – puoi cambiarlo */
      transparent
    );
    margin: 0 0;             /* Spazio sopra e sotto, opzionale */
  }
a:link {
    /* color: darkslateblue; */
    color: rgb(88, 10, 160);
    text-decoration: underline currentColor; 
}
a:hover {
    /*background-color: rgb(255, 198, 244);*/
    text-shadow: 0px 0px 20px;
}

img.fullwidth {
    max-width: 100%;
    height: auto;
    display: flex;
    margin: 20px auto;
}
img.small {
    max-width: 100%;
    max-height: 70vh;
    height: auto;
    display: flex;
    margin: 20px auto;
    }